body{
  font-family: Roboto;
  text-align: left;
  color: #392A22;
}

h1, h2, h3, h4, h5, h6{
  font-family: Playfair Display;
  color: #392A22;
}



/*Headings*/

.big-heading{
  font-family: Playfair Display;
  font-size: 3rem;
  line-height: 1.5;

}

.section-heading{
  font-family: Playfair Display;
  font-size: 2rem;
  line-height: 1.5;
}

.small-heading{
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5;

}

.white-section{
  background-color: white;
}

.grey-section{
  background-color: #CBC7CD;
}

/*Navigation Bar*/

.nav-link{
  font-size: 1.2rem;
}

.nav-item{
  font-family: Playfair Display;
  padding: 0 50px 0;
}

/*Buttons*/

.fas{
  color: #CBC7CD;
}


.fab {
  color: #CBC7CD;
}


/*Title Section*/

#title .container-fluid{
  text-align: right;
}

.img-nadja{
  width: 80%;
  float: left;
  padding: 0 0 0 10%;

}

#title .big-heading{
  font-size: 4rem;
  padding: 35% 9% 0 0;
}

#title .small-heading{
    padding: 0 9% 0;
}

/*About*/

#about .container-fluid{
  text-align: left;
  padding: 4% 9% 4% 9%;
}

#about .small-heading{
  padding-bottom: 4%;
}

.resume{
  text-align: right;
}

.fa-file:hover{
  color: #BC6778;
}

.icons-about{
  padding: 1%;
}

.icon-space{
  padding-right: 1%;
}

.more-about{
  padding-left: 6.5%;
}

/*Projects*/

#projects .container-fluid{
  padding: 4% 9% 4% 9%;
}

.img-project{
  width: 107%;
}



/*Contact*/

#contact .container-fluid{
  text-align: center;
  padding: 4% 9% 9% 9%;
}

#contact .fab:hover{
  color: #BC6778;
}

#contact .fas:hover{
  color: #BC6778;
}

#contact .row{
  padding: 2% 35% 0 35%;
}

#contact .fas{
  color: #white;
}


#contact .fab {
  color: #white;
}

.contact-icon{
  color: #ffffff;
}


/*Footer*/

#footer {
  background-color: #ffffff;
  text-align: center;
}

#footer .container-fluid {
  padding-top: 1%;
  padding-bottom: 1%;
}

#footer p {
    color: #E5E1E3;
    font-size: 0.7rem;
}

.mini-icon{
  color: #E5E1E3;
  margin: 20px 10px 5px;
}

.mini-icon:hover{
  color: #BC6778;
}

/* PRoject One*/

#project-section-one .container-fluid{
  text-align: left;
  padding: 4% 9% 4% 9%;
}

#project-section-one .second-link{

  float: right;
}

#project-section-one a{
  font-family: Playfair Display;
  color: #392A22;
  font-size: 1.5rem;
}

#project-section-two .container-fluid{
  text-align: center;
  padding: 4% 9% 4% 9%;
}

#project-section-two p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.second-row{
  padding-top: 5%;
}

@media (max-width: 1028px){

  #title{
    text-align: center;
  }

  #title .big-heading{

    padding: 9% 9% 0 0;
  }

  .img-nadja{
    position: static;
  }
}
